.entity-toolbar-tray {
  padding-right: 100px;
}

.toolbar .toolbar-bar .toolbar-icon-entity-toolbar:before {
  background-image: url(../icons/bebebe/cog.svg);
}

.toolbar-bar .toolbar-icon-entity-toolbar:active:before,
.toolbar-bar .toolbar-icon-entity-toolbar.is-active:before {
  background-image: url(../icons/ffffff/cog.svg);
}

.entity-toolbar-menu .ajax-progress {
  padding: 0;
}
